<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <style>
        td {
            padding: 5px;
        }
    </style>
</head>

<body>
    <h1>Welcome to template file!</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
            </tr>
        </thead>

        <tbody>
            <% for(var i=0; i < studentlist.length; i++) { %>
                <tr>
                    <td>
                        <%= studentlist[i].name %>
                    </td>
                    <td>
                        <%= studentlist[i].email %>
                    </td>
                    <td>
                        <%= studentlist[i].username %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</body>

</html>