@import url('https://fonts.googleapis.com/css2?family=Poppins');
label {
    display: block;
    text-align: right;
    padding: 10px;
}
fieldset{
    width: 400px;
}

body {
    margin: 0 auto;
    width: 1000px;
    font-family: 'Poppins', Serif;
}

input, select {
    font-family: 'Poppins', Serif;
    font-size: 1rem;
}