@import url('https://fonts.googleapis.com/css2?family=Poppins');

body, input, select {
    font-family: 'Poppins', Serif;
}

ul > li {    
    list-style: none;
    
    padding: 30px;
    margin: 10px;

}
li > a {
    text-decoration: none;
}

label {
    display: block;
    padding-top: 30px;
}

input, textarea {
    width: 326px;
    padding: 10px;
}

select {
    width: 350px;
    padding: 10px;
}

ol > li {
    display: inline;
    padding-right: 30px;
}

table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid lightgray;
    padding: 20px 7px;
}